;;;; -*- Mode: Lisp; Syntax: ANSI-Common-Lisp; Base: 10 -*-
;;;
;;; Information for bots is contained in the ~/.sykobot/ direcotry.
;;; Each bot has its own subdirectory.
;;; To load the bot whose information is in subdirectory "testbot/",
;;;   evaluate:
;;;
;;; (let ((*bot-dir* "testbot/"))
;;;   (run-bot))
;;;
;;; Additional files will be created within this directory. It is
;;;   wisest to leave them alone, since they are databases.

;;; Package: configs should be in the :sykobot-user package
(in-package :sykobot-user)

;; nickname goes here (duh)
(setf *nickname* "omgloltestbot")

;; this is actually the default. Removing this line will change nothing.
(setf *server* "irc.freenode.net")

;;; We'll use whatever's in this list to connect to a bunch of channels after we're loaded.
(setf *default-channels* '("#sykosomatic" "#lispgames" "#flood"))

;; replace nil with t to identify.
(setf *identify-with-nickserv?* nil)

;; password to identify with goes here, as a string
(setf *nickserv-password* "pass")

