html {
	    font-family: "Nimbus Sans L", "Helvetica";
    }

.curved-box {
	    border: 2px solid black;
	        -moz-border-radius: 15px;
	}
#header {
    float: left;
 
    margin: 1% 1% 1% 5%;
    padding: 0% 1% 0% 1%; /*top right bottom left*/
    width: 88%;
 
    height: 100px;
}
 
#header h1 {
    float: left;
}

#about {
	float: left;
    	margin: 1% 1% 1% 5%;
    	padding: 0% 1% 0% 1%; /*top right bottom left*/
    	width: 50%;
    	height: 580px;
}

#commits {
	float: left;
    	margin: 1% 1% 1% 1%;
    	padding: 0% 1% 0% 1%; /*top right bottom left*/
    	width: 35%;
    	height: 580px;
}
#feature {
	float: left;
    	margin: 5% 1% 1% 1%;
    	padding: 0% 1% 0% 1%; /*top right bottom left*/
    	width: 40%;
    	height: 300px;
}
#dep {
	float: left;
    	margin: 5% 1% 1% 5%;
    	padding: 0% 1% 0% 1%; /*top right bottom left*/
    	width: 45%;
    	height: 300px;
}

#layout {
	float: left;
    	margin: 0% 0% 0% 0%;
    	padding: 0% 0% 0% 0%; /*top right bottom left*/
    	width: 100%;
    	height: 900px;
}
#recent-commits .commit {
    padding: 1%;
    margin: 1%;
    border-top: 1px solid #aaa;
}
 
#recent-commits .commit + #recent-commits .commit {
    border-top-width: 0px;
    border-bottom: 1px solid #aaa;
}

#recent-commits-wrapper {
    float: left;
    margin: 1%;
    padding: 1%;
    width: 32%;
}

#footer {
    float: left;
    margin: 1% 1% 1% 5%;
    padding: 1%;
    width: 88%;
}
 
#footer img {
    vertical-align: middle;
}
 
#footer a {
    color: black;
}
#text {
	float: left;
	margin 1% 1% 1% 1%;
    	padding: 1% 1% 1% 1%; /*top right bottom left*/
	width: 95%;
	height: 140px;
}
