;;; Any code in file "~/.sykobotrc" will be loaded after all
;;; the other files have loaded.
;;;
;;;

;;; Package: configs should be in the :sykobot-user package
(in-package :sykobot-user)

;; nickname goes here (duh)
(setf *nickname* "omgloltestbot")

;; this is actually the default. Removing this line will change nothing.
(setf *server* "irc.freenode.net")

;;; We'll use whatever's in this list to connect to a bunch of channels after we're loaded.
(setf *default-channels* '("#sykosomatic" "#lispgames" "#flood"))

;; replace nil with t to identify.
(setf *identify-with-nickserv?* nil)

;; password to identify with goes here, as a string
(setf *nickserv-password* "pass")

